<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" filename="TuneRoboLog.txt"/>
      <target name="log2console" xsi:type="Chainsaw" address="tcp://127.0.0.1:4505" />   
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="log2console" />      
    </rules>
  </nlog>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  
</configuration>